
      
<div class='des'>{{selectedProject.description}}</div>

     <div class="sidenav">
    {{>projList sidenav=true}}
</div>
    <!---{{selectedProject.directory}}-->

       <a href='{{directory}}/{{selectedProject.directory}}/'> <img src="/{{selectedProject.directory}}/screenshot.jpg" class = 'description'> </a>

   

